.App {
  text-align: center;
}

body {
  padding-top: 100px;
}

.chat-input {
  z-index: 3;
  position: fixed;
  bottom: 30px;
}

.chat-table {
  margin-bottom: 120px;
}

.message-container {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.own-message {
  position: relative;
  right: 100px;
}

.message-name {
  text-align: left;
  font-size: 12px;
}

.message-text {
  text-align: left;
  word-wrap: break-word;
  margin: 1px;
  background-color: #ffffcf;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  width: 330px;
  text-align: right;
}

.own-message .message-text {
  background-color: #ffcfcf;
  text-align: left;
  position: relative;
  left: 40px;
}

.message-date {
  font-size: 10px;
  float: left;
}

.own-message .message-date {
  float: right;
  position: relative;
  right: 40px;
}

.message-container img {
  float: right;
  vertical-align: bottom;
  margin-right: 20px;
  border-radius: 50%;
}

.own-message img {
  float: left;
  vertical-align: bottom;
}
