.App {
  text-align: center;
}

.chat-input {
  z-index: 3;
  position: fixed;
  bottom: 30px;
}

.message-container {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.own-message {
  position: relative;
  right: 100px;
}

.message-name {
  text-align: left;
  font-size: 10px;
}

.message-text {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  word-wrap: break-word;
  margin: 1px;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  width: 230px;
  text-align: right;
}

.own-message .message-text {
  background-color: #f6f6f6;
  text-align: left;
  position: relative;
  left: 40px;
}

.message-date {
  font-size: 10px;
  float: left;
}

.message-container img {
  float: right;
  vertical-align: bottom;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.own-message img {
  float: left;
  vertical-align: bottom;
}
