.chat {
  z-index: 10;
  position: fixed;
  bottom: 70px;
  left: 160px;
  width: 390px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  -webkit-box-shadow: 13px 9px 48px -7px rgba(138, 138, 138, 0.47);
  -moz-box-shadow: 13px 9px 48px -7px rgba(138, 138, 138, 0.47);
  box-shadow: 13px 9px 48px -7px rgba(138, 138, 138, 0.47);
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 160px;
  height: 70px;
  font-size: 15px;
  font-family: "Raleway";
  width: 390px;
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding: 20px;
}

.chat-input:focus {
  outline: 0;
}

.chat-content {
  margin-bottom: 30px;
  margin-left: 40px;
}

.chat-table {
  display: inline-block;
}

.shadow-messages {
  width: 15%;
  display: inline-block;
}

.shadow-message {
  margin-top: 30px;
}

.shadow-message-text {
  word-wrap: break-word;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.message-container {
  display: block;
  margin-top: 30px;
}

.message-name {
  text-align: left;
  font-size: 12px;
}

.message-text {
  text-align: left;
  word-wrap: break-word;
  background-color: #ffffcf;
  padding: 0.5px 15px 0.5px 15px;
  font-size: 12px;
  width: 250px;
  text-align: right;
}

.message-text:first-child {
  padding-top: 10px;
  border-radius: 15px 15px 0 0;
}

.message-text:last-child {
  padding-bottom: 10px;
  border-radius: 0 0 15px 15px;
}

.message-text:only-child {
  padding: 10px 15px 10px 15px;
  border-radius: 15px 15px 15px 15px;
}

.own-message .message-text {
  background-color: #ffcfcf;
  text-align: left;
  position: relative;
  left: 40px;
}

.message-date {
  font-size: 10px;
  float: left;
}

.own-message .message-date {
  float: right;
  position: relative;
  right: 40px;
}

.message-container img {
  float: right;
  vertical-align: bottom;
  margin-right: 20px;
  border-radius: 50%;
  max-width: 20px;
}

.own-message img {
  float: left;
  vertical-align: bottom;
}
