.chat-content {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  left: 130px;
  width: 410px;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fbfbfb;
  font-family: "Raleway";
  margin-bottom: 30px;
  margin-left: 40px;
}

.chat-content::-webkit-scrollbar {
  width: 1em;
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 130px;
  height: 50px;
  font-size: 15px;
  width: 410px;
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding: 20px;
}

.chat-input::-webkit-input-placeholder {
  color: #909090;
}

.chat-input:focus {
  outline: 0;
}

.chat-table {
  display: inline-block;
}

.shadow-messages {
  width: 15%;
  display: inline-block;
}

.shadow-message {
  margin-top: 30px;
}

.shadow-message-text {
  word-wrap: break-word;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.message-container {
  display: block;
  margin-top: 30px;
}

.message-name {
  text-align: left;
  font-size: 12px;
}

.message-text {
  word-wrap: break-word;
  background-color: #3e3e06c5;
  padding: 0.5px 15px 0.5px 15px;
  font-size: 13px;
  width: 250px;
  text-align: right;
  color: white;
  font-size: 15px;
}

.message-text:first-child {
  padding-top: 10px;
  border-radius: 15px 15px 0 0;
}

.message-text:last-child {
  padding-bottom: 10px;
  border-radius: 0 0 15px 15px;
}

.message-text:only-child {
  padding: 10px 15px 10px 15px;
  border-radius: 15px 15px 15px 15px;
}

.own-message .message-text {
  background-color: #2f0d0de0;
  text-align: left;
}

.message-date {
  font-size: 10px;
  float: left;
}

.own-message .message-date {
  float: right;
}

.message-container img {
  float: right;
  vertical-align: bottom;
  margin-right: 20px;
  border-radius: 50%;
  max-width: 20px;
}

.own-message img {
  float: left;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .chat-content {
    margin: 0 auto;
    height: 60vh;
    bottom: 70px;
    left: 0px;
    width: 200px;
  }

  .message-container {
    width: 200px;
  }

  .message-text {
    font-size: 13px;
  }

  .chat-input {
    left: 0;
    bottom: 0px;
    padding-left: 10px;
    height: 50px;
    width: 100%;
    font-size: 25px;
  }

  .shadow-messages {
    display: none;
  }

  .message-text {
    text-align: left;
  }
}

@media only screen and (max-height: 400px) and (max-width: 600px) {
  .chat-content {
    margin: 0 auto;
    height: 30vh;
    bottom: 70px;
    left: 0px;
    width: 200px;
  }

  .shadow-messages {
    display: none;
  }
}
