.games {
  z-index: 200;
  width: 600px;
  font-size: 13px;
  float: right;
  z-index: 60;
}

.cards {
  display: block;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  color: black;
}

.pong-card {
  background: rgba(255, 255, 255, 0.329);
  color: #000000;
}

.tictactoe-card {
  background: rgba(210, 255, 208, 0.945);
}

.new-game-card {
  background: none;
  color: #ffffff;
}

.hidden-button {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .games {
    width: 400px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .games {
    position: sticky;
    right: 0;
    width: 160px;
    font-size: 10px;
  }
}
