.games {
  z-index: 8;
  width: 600px;
  margin: 0 auto;
  font-size: 13px;
  position: relative;
  left: 200px;
}

.cards {
  display: block;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  color: black;
}

.pong {
  background: rgba(255, 255, 255, 0.329);
  color: #000000;
}

.pong-scores {
  color: white;
}

.tictactoe {
  background: rgba(210, 255, 208, 0.945);
}

.new-game-card {
  background: none;
  color: #ffffff;
}

.hidden-button {
  display: none;
}
