.history {
  position: absolute;
  left: 170px;
  top: 60px;
  background: white;
  width: 500px;
  float: right;
  font-size: 12px;
}

.history-item {
  border-bottom: 1px solid black;
  padding: 10px;
}

.history-item span {
  margin: 10px;
}
