.game-container {
  margin: 20px 30px 30px 60px;
  color: #ffffffcf;
}

.game-container .game-pong {
  width: 900px;
  margin: 0 auto;
}

canvas {
  margin: 0 auto;
}

.game-header {
  position: sticky;
  bottom: 0;
  width: 900px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background: #000000dd;
}

.game-header .info p {
  margin-bottom: 30px;
}

.game-header-buttons button {
  height: 100%;
}

.opponent img {
  max-width: 30px;
  border-radius: 50px;
}

.game-board {
  width: 615px;
  height: 615px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-gap: 1px;
  align-items: stretch;
  color: #ffffff;
}

.game-board div {
  background: #000000ee;
  text-align: center;
  vertical-align: center;
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  border: 0.1px solid #ed515e55;
}

.pong-scores {
  color: #ffffffcf;
}

@media only screen and (max-width: 600px) {
  .game-board {
    margin: 0 auto;
    width: 315px;
    height: 315px;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  }

  .opponent img {
    max-width: 10px;
  }

  .game-header {
    width: 315px;
    font-size: 10px;
  }

  .game-board div {
    background: #000000fa;
    border: 1px solid rgba(182, 173, 49, 0.603);
    font-size: 40px;
  }
}
