.users-bar {
  height: 100%;
  z-index: -10;
  padding: 65px 10px;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #00000099;
  font-size: 13px;
  max-width: 95px;
}

.users-bar .user {
  padding: 9px 0px 9px 10px;
}

.user div {
  display: inline;
  margin-right: 10px;
}

.user img {
  border-radius: 50px;
  width: 22px;
}

@media only screen and (max-width: 600px) {
  .users-bar {
    padding: 70px 0px;
    background: none;
    display: inline;
  }

  .users-bar-header {
    display: inline;
  }

  .user img {
    display: none;
  }

  .users-bar .user {
    display: inline;
    padding: 9px 0px 9px 10px;
  }
}
